@charset "UTF-8";

body{
    background-color: rgb(207, 240, 140);
    font-family: Arial, Helvetica, sans-serif;
}
.basico{
    color: rgb(8, 185, 8);
    font-weight: bold;

}
.subtitulo{
    color: rgb(3, 109, 3);
    text-align: center;
    background-color: rgb(127, 203, 12);
}
#principal{
    text-align: center;
    background-color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 8px 10px 10px black;
}
.intermediario{
    color: rgb(150, 148, 8);
}
.avancado{
    color: yellowgreen;
}
p{
    text-align: justify;
    text-indent: 30px;
    font-family: 'Times New Roman', Times, serif;
}