@charset "UTF-8";

* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

html{
    font-family: 'courier new', courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;

}

menu{
    display: none;
}

article::after{
    content: 'Este artigo foi impresso através do site www.exemplo.com';
    
}

article{
    width: 100%;
}

/* Estilos para impressão */